.appheader {
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-bottom: 1px lightgrey solid;
    margin-bottom: 1em;
    background-color: lightblue;
}