.movesets {
    max-height: 45vh;
    overflow-y: auto;
}

.movesets__columnHeaders {
    display: flex;
    align-items: center;
    border-bottom: 1px #AAAAAA solid;
    
    > div {
        width: 50%;
        text-align: center;
        font-weight: 600;
    }
}

.movesets__movesetRow {
    display: flex;
    justify-content: center;
    align-items: center;
    
    padding: 0.25rem 0;
    cursor: help;
}

.movesets__moveOccurrences {
    width: 50%;
    flex-grow: 1;
    text-align: center;
}

.movesets__moveDetails {
    width: 50%;
}

.movesets__mainDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        box-sizing: content-box;
        width: 32px;
        height: 14px;
        padding: 0.125rem 0 0 0.25rem;
    }
}

.movesets__moveName {
    text-align: center;
}

.movesets__additionalDetails {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    font-size: (10/16)*1rem;
    color: grey;
    user-select: none;
    > * {
        padding: 0.05rem 0.2rem 0 0.2rem;
    }
}