.abilityOccurences__heading {
    font-weight: bold;
    text-align: center;
}

.abilityOccurences__ability {
    display: flex;
}

.abilityOccurences__name {
    padding: 0.25rem;
}

.abilityOccurences__percentage {
    padding: 0.25rem;
}